<div ng-controller='HomeCtrl as home' >
  <table>
    <tr ng-repeat='room in home.rooms'>
      <td>
        {{ room.$value }}
      </td>
    </tr>
  </table>
  <div ng-controller='ActiveRoomCtrl' class='container'>
    <h1>{{ currentlyActive.name }}</h1>
    <button ng-click='setActiveRoom(activeRoom)' class='btn btn-success' ng-repeat='activeRoom in home.rooms'>{{ activeRoom.$value }}</button>
    <div class='messages'>
      <h3 ng-repeat='message in currentlyActive.messages'>{{ message.content }}</h3>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Message</label>
        <div class="input-group">
          <input type="text" class="form-control" id="exampleInputAmount" ng-model='messageContent'>
        </div>
      </div>
      <button ng-click='sendMessage(messageContent, currentlyActive.roomId)' class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
<div ng-controller="ModalCtrl" class="container">
  <button class="btn btn-primary" type="button" ng-click="openModal()">Create Room</button>
</div>
<div>
