<div ng-controller='HomeCtrl as home' >
  <table>
  <tr ng-repeat='room in home.rooms'>
    <td>
    {{ room.$value }}
    </td>
  </tr>
  </table>
</div>
<div ng-controller="ModalCtrl" class="container">
    <button class="btn btn-primary" type="button" ng-click="openModal()">Create Room</button>
</div>
<div class='container'>
  <table>
    <tr>
      <td>
        'This is where the rooms will go'
      </td>
    </tr>
    <tr>
      <td>
        'This would be the next room'
      </td>
    </tr>
  </table>
</div>
